@media screen and (max-width: 1200px) {
  #header {
    height: 150px;
  }
  #person {
    position: absolute;
    top: 25px;
    left: 25px;
  }
  .contact-info li {
    margin-right: 15px;
  }
}
@media screen and (max-width: 1024px) {
  #header {
    height: auto;
    padding: 20px 0;
  }
  #header .main-info {
    left: 0;
    width: 100%;
    text-align: center;
    max-width: none;
    position: relative;
    bottom: 0;
  }
  .contact-info {
    text-align: center;
    margin-left: 0;
  }
  .contact-info li {
    margin: 0 8px;
  }
  #person {
    position: relative;
    margin: 0 auto;
    width: 200px;
    display: block;
    left: 0;
    top: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 680px) {
  .contact-info li {
    margin-bottom: 10px;
  }
}
