@font-face {
    font-family: 'TerraSans';
    src: url('../fonts/TerraSans-Medium.otf') format('opentype'), 
    url('../fonts/TerraSans-Medium.ttf') format('truetype');
}

@color-main-light: #B4DED4;
@color-main-light2: #d9eee9;
@color-main-dark: #34544a;
@color-black-dark: #3D3D3D;
@color-gray: #747776;
* {
    transition: all .4s ease-in-out;
}

.clear {
    &:after {
        content: '';
        position: relative;
        display: block;
        clear: both;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #58382D;
}

::-webkit-scrollbar-thumb {
    background-color: #487466;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 1.3em;    
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../images/bg_wood.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: TerraSans, sans-serif;
    line-height: 1.3em;
    color: @color-black-dark;
}

#wrapper {
    width: 80%;
    max-width: 960px;
    margin: 80px auto;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, .4);
}

#header {
    height: 215px;
    background-color: @color-main-light;
    background-image: url(../images/hor-repeat.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    position: relative;
    .main-info {
        width: 70%;
        max-width: 660px;
        position: absolute;
        bottom: 10px;
        left: 30%;
        color: #677b75;
        padding: 5px;
        box-sizing: border-box;
        p {
            font-size: 18px;
            margin: 5px 0;
            overflow: hidden;
        }
        h1 {
            font-size: 32px;
            color: @color-main-dark;
            text-transform: uppercase;
            font-weight: bold;
            margin: 5px 0;
            margin-bottom: 10px;
            span {
                color: #558273;
            }
        }
    }
}

#person {
    position: absolute;
    top: 65px;
    left: 65px;
}

.contact-info {
    list-style: none;
    padding: 0 5px;
    margin: 0;
    color: #505351;
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    margin-top: 15px;
    margin-left: 30%;
    margin-bottom: 50px;
    li {
        display: inline-block;
        margin: 0 5px;
        height: 30px;
        line-height: 30px;
        padding: 0;
        margin: 0;
        margin-right: 28px;
        background-position: left center;
        a {
            color: #505351;
            text-decoration: none;
        }
        &:nth-child(1) {
            background-image: url(../images/www.png);
            background-repeat: no-repeat;
            padding-left: 45px;
        }
        &:nth-child(2) {
            background-image: url(../images/phone.png);
            background-repeat: no-repeat;
            padding-left: 30px;
        }
        &:nth-child(3) {
            background-image: url(../images/mail.png);
            background-repeat: no-repeat;
            padding-left: 28px;
            background-position: left 4px;
        }
    }
}

// RESPONSIVE
.col-50 {
    float: right;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    &:first-child {
        padding-left: 25px;
    }
    &:last-child {
        padding-right: 25px;
    }
}

.block {
    margin-bottom: 30px;
    .--caption {
        text-transform: uppercase;
        font-size: 24px;
        color: #34544a;
        margin-bottom: 10px;
    }
    .--content {
        margin: 10px 0;
    }
    h5 {
        text-transform: uppercase;
        font-size: 16px;
        color: @color-black-dark;
        margin-bottom: 10px;
        span {
            background-color: @color-main-light2;
            color: @color-main-dark;
            padding: 5px 12px;
            width: 105px;
            display: inline-block;
            margin-left: 5px;
        }
    }
    p {
        color: @color-gray;
        width: 70%;
        float: right;
    }
}

.block-right {
    text-align: right;
}

.block-left {
    text-align: left;
    p {
        float: left;
    }
}

.block-table {
    display: table;
    .block-row {
        display: table-row;
    }
    .block-cell {
        display: table-cell;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 15px;
        padding: 5px 0;
    }
    &.block-avg {
       max-width: 300px;
       width: 80%;
    }
    .block-cell-center {
        text-align: center;
        min-width: 100px;
        padding-right: 60px;
        span {
            width: 150px;
            padding: 0!important;
        }
        &+ {
            width: 1px;
            white-space: nowrap;
        }
    }
    .block-cell:first-child {
        padding-right: 10px;
        span {
            background-color: @color-main-light2;
            min-height: 25px;
            line-height: 25px;
            padding: 0 25px 0 5px;
            display: inline-block;
        }
    }
}

.trackbar-dotted {
    margin: 0;
    padding: 0;
    li {
        width: 20px;
        height: 25px;
        display: block;
        float: left;
        margin: 2px;
        background-color: @color-main-light2;
        &[active] {
            background-color: #84cdb7;
        }
    }
}

.trackbar {
    height: 25px;
    background-color: @color-main-light2;
    position: relative;
    >div {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #84cdb7;
    }
}