* {
  transition: all 0.4s ease-in-out;
}
body {
  padding: 0;
  margin: 0;
  background-image: url(../images/bg_wood.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: 'Myriad Pro';
}
#wrapper {
  width: 80%;
  max-width: 960px;
  height: 2000px;
  margin: 80px auto;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.4);
}
#header {
  outline: 1px solid yellow;
  height: 215px;
  background-color: #B4DED4;
  background-image: url(../images/hor-repeat.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  position: relative;
}
#header .main-info {
  outline: 1px solid red;
  width: 70%;
  max-width: 660px;
  position: relative;
  top: 75px;
  right: 10px;
  float: right;
  color: #677b75;
}
#header .main-info p {
  height: 60px;
  overflow: hidden;
}
#header .main-info h1 {
  font-size: 27px;
  color: #34544a;
  text-transform: uppercase;
  font-weight: normal;
}
#header .main-info h1 span {
  color: #558273;
}
#person {
  position: absolute;
  top: 65px;
  left: 65px;
}
.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #505351;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 500;
}
.contact-info li {
  display: inline-block;
  margin: 0 5px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-right: 28px;
  background-position: left center;
}
.contact-info li a {
  color: #505351;
  text-decoration: none;
}
.contact-info li:nth-child(1) {
  background-image: url(../images/www.png);
  background-repeat: no-repeat;
  padding-left: 45px;
}
.contact-info li:nth-child(2) {
  background-image: url(../images/phone.png);
  background-repeat: no-repeat;
  padding-left: 30px;
}
.contact-info li:nth-child(3) {
  background-image: url(../images/mail.png);
  background-repeat: no-repeat;
  padding-left: 28px;
  background-position: left 4px;
}
