@font-face {
  font-family: Abel;
  src: url(../fonts/Abel-Pro.otf);
}
@font-face {
  font-family: Gilroy-Light;
  src: url(../fonts/Gilroy-Light.otf);
}
* {
  transition: all 0.4s ease-in-out;
}
.clear:after {
  content: '';
  position: relative;
  display: block;
  clear: both;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #58382D;
}
::-webkit-scrollbar-thumb {
  background-color: #487466;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  background-image: url(../images/bg_wood.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: Abel, Gilroy-Light, sans-serif;
}
#wrapper {
  width: 80%;
  max-width: 960px;
  height: 2000px;
  margin: 80px auto;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.4);
}
#header {
  height: 215px;
  background-color: #B4DED4;
  background-image: url(../images/hor-repeat.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  position: relative;
}
#header .main-info {
  width: 70%;
  max-width: 660px;
  position: absolute;
  bottom: 10px;
  left: 30%;
  color: #677b75;
  padding: 5px;
  box-sizing: border-box;
}
#header .main-info p {
  font-size: 18px;
  margin: 5px 0;
  overflow: hidden;
}
#header .main-info h1 {
  font-size: 32px;
  color: #34544a;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 0;
  margin-bottom: 10px;
}
#header .main-info h1 span {
  color: #558273;
}
#person {
  position: absolute;
  top: 65px;
  left: 65px;
}
.contact-info {
  list-style: none;
  padding: 0 5px;
  margin: 0;
  color: #505351;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  margin-top: 15px;
  margin-left: 30%;
  margin-bottom: 50px;
}
.contact-info li {
  display: inline-block;
  margin: 0 5px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-right: 28px;
  background-position: left center;
}
.contact-info li a {
  color: #505351;
  text-decoration: none;
}
.contact-info li:nth-child(1) {
  background-image: url(../images/www.png);
  background-repeat: no-repeat;
  padding-left: 45px;
}
.contact-info li:nth-child(2) {
  background-image: url(../images/phone.png);
  background-repeat: no-repeat;
  padding-left: 30px;
}
.contact-info li:nth-child(3) {
  background-image: url(../images/mail.png);
  background-repeat: no-repeat;
  padding-left: 28px;
  background-position: left 4px;
}
.col-50 {
  float: left;
  width: 50%;
  height: 1000px;
  padding: 10px;
  box-sizing: border-box;
}
.col-50:first-child {
  padding-right: 25px;
}
.col-50:last-child {
  padding-left: 25px;
}
.block {
  margin-bottom: 30px;
}
.block .--caption {
  text-transform: uppercase;
  font-size: 24px;
  color: #34544a;
  margin-bottom: 10px;
}
.block .--content {
  margin: 10px 0;
}
.block h5 {
  text-transform: uppercase;
  font-size: 16px;
  color: #3D3D3D;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.block h5 span {
  background-color: #d9eee9;
  color: #34544a;
  padding: 5px 12px;
  width: 105px;
  display: inline-block;
  margin-left: 5px;
}
.block p {
  color: #747776;
  width: 70%;
  float: right;
}
.block-right {
  text-align: right;
}
.block-left {
  text-align: left;
}
.block-left p {
  float: left;
}
.block-table {
  display: table;
}
.block-table .block-row {
  display: table-row;
}
.block-table .block-cell {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 0;
  letter-spacing: 1px;
}
.block-table.block-avg {
  width: 90%;
}
.block-table .block-cell-center {
  text-align: center;
  min-width: 100px;
  padding-right: 60px;
  width: 1px;
  white-space: nowrap;
}
.block-table .block-cell-center span {
  width: 150px;
  padding: 0!important;
}
.block-table .block-cell:first-child {
  padding-right: 10px;
}
.block-table .block-cell:first-child span {
  background-color: #d9eee9;
  min-height: 25px;
  line-height: 25px;
  padding: 0 25px 0 5px;
  display: inline-block;
}
.trackbar-dotted {
  margin: 0;
  padding: 0;
}
.trackbar-dotted li {
  width: 20px;
  height: 25px;
  display: block;
  float: left;
  margin: 2px;
  background-color: #d9eee9;
}
.trackbar-dotted li[active] {
  background-color: #84cdb7;
}
.trackbar {
  height: 25px;
  background-color: #d9eee9;
  position: relative;
}
.trackbar > div {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #84cdb7;
}
