body {
    padding: 0;
    margin: 0;
    background-image: url(../images/bg_wood.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Myriad Pro';
}

#wrapper {
    width: 960px;
    height: 2000px;
    margin: 80px auto;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, .4);
}

#header {
    height: 215px;
    background-color: #B4DED4;
    background-image: url(../images/hor-repeat.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    position: relative;
    .main-info {
        width: 660px;
        position: absolute;
        top: 75px;
        left: 295px;
        color: #677b75;
        p {
            height: 60px;
            overflow: hidden;
        }
        h1 {
            font-size: 27px;
            color: #34544a;
            text-transform: uppercase;
            font-weight: normal;
            span {
                color: #558273;
            }
        }
    }
}

#person {
    position: absolute;
    top: 65px;
    left: 65px;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #505351;
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 500;
    li {
        display: inline-block;
        margin: 0 5px;
        height: 30px;
        line-height: 30px;
        padding: 0;
        margin: 0;
        margin-right: 28px;
        background-position: left center;
        a {
            color: #505351;
            text-decoration: none;
        }
        &:nth-child(1) {
            background-image: url(../images/www.png);
            background-repeat: no-repeat;
            padding-left: 45px;
        }
        &:nth-child(2) {
            background-image: url(../images/phone.png);
            background-repeat: no-repeat;
            padding-left: 30px;
        }
        &:nth-child(3) {
            background-image: url(../images/mail.png);
            background-repeat: no-repeat;
            padding-left: 28px;
            background-position: left 4px;
        }
    }
}